<head>
 
	<title>KingStephen Soundboard [Beta]</title>
    <link rel="icon" sizes="192x192" href="img/mlg-favicon.png" />
    <link rel="shortcut icon" href="img/mlg-favicon.png" type="image/x-icon" />
	<!-- JavaScript -->
	<script type="text/javascript">
		// Put code here or set the src attribute
	</script>
 
	<!-- CSS -->
	<style type="text/css">
	<!--
 
		body { background-color: white; margin: 0; padding: 0; font-family: sans-serif; font-size: 12px; }
		p { margin-bottom: 10px; }
 
	-->
	</style>
 <style>
    body {
  font-size: 12px;
  background: #fff !important;
  border-style: none;
  font-family: helvetica, arial, sans-serif;
}
.sound {
  border-style: outset;
  width: 100px;
  height: 170px;
}
.download {
  cursor: pointer;
}
.name {
  text-align: center;
  font-size: 15px;
}
#instants_container {
  margin: 30px auto 0;
  text-align: center;
  border-style: none;
}
.instant {
  position: relative;
  vertical-align: top;
  width: 94px;
  border-style: none;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 5px;
  margin-left: 5px;
  word-wrap: break-word;
}
.small-button {
  width: 94px;
  height: 89px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 3px;
  margin-top: 0px;
  font-size: xx-large;
  border-style: none;
  position: absolute;
  background: url(img/button.png) no-repeat;
  cursor: pointer;
}
.small-button:active {
  background: url(img/button-pressed.png) no-repeat;
  cursor: progress;
}
.small-button-background {
  width: 86px;
  height: 84px;
  margin-top: 3px;
  margin-left: 6px;
  position: absolute;
}
.small-button-shadow {
  width: 94px;
  height: 89px;
  margin-bottom: 5px;
  background: url(img/button-shadow.png) no-repeat;
}
.circle {
  border-radius: 50%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.flex-container > div {
  padding: 5px;
}
div.control {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  padding: 3px;
  border: 3px solid #000;
  background: #ffffff;
  z-index: 100;
}
.woah {
  cursor: pointer;
}
.button {
  width: 94px;
  height: 89px;
  margin-bottom: 5px;
  background: url(img/button-shadow.png) no-repeat;
}
.container {
  display: table;
  grid-template-columns: auto auto;
  background-color: none;
  padding: 10px;
  border-radius: 10px;
  grid-template-columns: 100px 500px;
  grid-column-gap: 10px;
  grid-row-gap: 25px;
}
.item {
  background-color: none;
  border: 1px solid none;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: inline-table;
  grid-template-columns: auto auto auto auto;
}
.item1, .item5 {
  table-layout: auto;
}
.woah {
    background-color: #e5ff00
}
</style>
</head>
 
<body>
 <h1>Soundboard - Beta</h1>
 <h1>Made By Kingstephen  Productions  And Mr Rainbow Productions</h1>
<br>
<br>
<br>
	<!-- Audio -->
<audio id="fard" src="_F A R D.wav"></audio>
<audio id="abobus" src="abobus.mp3"></audio>
<audio id="abobus2" src="abobus2.wav"></audio>
<audio id="afewmomentslater" src="afewmomentslater.mp3"></audio>
<audio id="sendtojesus" src="sendtojesus.mp3"></audio>
<audio id="baller" src="baller.mp3"></audio>
<audio id="mrohio" src="mrohio.mp3"></audio>
<audio id="biggestbird" src="biggestbird.mp3"></audio>
<audio id="domdomdom" src="domdomdom.mp3"></audio>
<audio id="userious" src="areyouseriousrnbro.mp3"></audio>
<audio id="daddysnore" src="aughhhhh.mp3"></audio>
<audio id="vineboom" src="vineboom.mp3"></audio>
<audio id="drakememe" src="onlymp3.to - Drake I say uhh Goofy Ahh Sound-JUlt1c23GG8-256k-1655129515875.mp3"></audio>
<audio id="run" src="run.mp3"></audio>
<audio id="drakememe2" src="drakememe2.mp3"></audio>
<audio id="rehehehe" src="onlymp3.to - Rehehehe sound effect-8sPKg3XyVmQ-256k-1656746167729.mp3"></audio>
<audio id="daddy" src="onlymp3.to - Its been a year daddy (Meme) Sound Effect-gzuiHlOCztQ-256k-1656723170699.mp3"></audio>
<audio id="phone" src="androidnotif.mp3"></audio>
<audio id="drake meme3" src="onlymp3.to - AIGHT I SAY UHH (Better Call Saul)-nu5LgZWaj_A-256k-1656821682466.mp3"></audio>
<audio id="drake meme4" src="onlymp3.to - Drake begins a horse race-Uowxzy5Jr9U-256k-1656303875061.mp3"></audio>
<audio id="drake meme5" src="onlymp3.to - i say uh (want free vbucks)-ujiO1LkCn_0-256k-1654181053962.mp3"></audio>
<audio id="indian" src="onlymp3.to - Indian meme song-nz-V3g6-1KQ-256k-1656357478832.mp3"></audio>
<audio id="when i met you in summer" src="onlymp3.to - When I met you In the summa meme-EhpIRrEV8JQ-256k-1656960029972.mp3"></audio>
<audio id="bussssss" src="onlymp3.to - Bussss meme-cK5VSX1Jhu0-256k-1658544755744.mp3"></audio>
<audio id="12bukelshoe" src="onlymp3.to - one two buckle my shoe three four buckle some more 🔥🔥🥶🥶 not my video-d4fGlQtQH-c-256k-1657769800740.mp3"></audio>
<audio id="12bukelshoemrbeast" src="onlymp3.to - 1 2 buckle my shoe Mr Beast edition-G3ImLYu8HCo-256k-1659722313992.mp3"></audio>
<audio id="ohio song" src="onlymp3.to - Pov you see someone with blue eyes in Ohio-SeSUvRJurXQ-256k-1658934503549.mp3"></audio>
<audio id="car horn" src="onlymp3.to - Goofy ahh car horn sound effect-tYbGdBTMZ_s-256k-1654146437929 (1).mp3"></audio>
	<!-- Buttons -->
<div class="container">
<div class="item1">
 <button class='small-button' onclick="document.getElementById('fard').play()">💨</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="item2">
 <button class='small-button' onclick="document.getElementById('abobus').play()">ඞ</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="item3">
<button class='small-button' onclick="document.getElementById('afewmomentslater').play()">⏳</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="item4">
    <button class='small-button'onclick="document.getElementById('abobus2').play()">ඞ2</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="item5">
<button class='small-button' onclick="document.getElementById('sendtojesus').play()">🩴</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="item6">
  <button class='small-button' onclick="document.getElementById('baller').play()">⚽</button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="item7">
    <button class='small-button' onclick="document.getElementById('mrohio').play()">👨</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="item8">
      <button class='small-button' onclick="document.getElementById('biggestbird').play()">🐦</button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="item9">
        <button class='small-button' onclick="document.getElementById('domdomdom').play()">Dom</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
      <div class="item10">
        <button class='small-button' onclick="document.getElementById('userious').play()">U serious?</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="item11">
          <button class='small-button' onclick="document.getElementById('daddysnore').play()">😱</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="item12">
            <button class='small-button' onclick="document.getElementById('vineboom').play()">🔥</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
	 <div class="item13">
          <button class='small-button' onclick="document.getElementById('drakememe').play()">🎤</button>
	  <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
	 <div class="item14">
          <button class='small-button' onclick="document.getElementById('run').play()">🏃</button>
	  <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
	 <div class="item15">
          <button class='small-button' onclick="document.getElementById('drakememe2').play()">🎤2</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
	  <div class="item16">
          <button class='small-button' onclick="document.getElementById('rehehehe').play()">🐶</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="item17">
          <button class='small-button' onclick="document.getElementById('daddy').play()">🧔🏼‍♂️</button>  
          <br>
          <br>
          <br>
          <br>
          <br>
	  <br>
	   <div class="item18">
          <button class='small-button' onclick="document.getElementById('phone').play()">📱</button>  
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
	 <div class="item19">
          <button class='small-button' onclick="document.getElementById('drake meme3').play()">🎤3</button>
          <br>
          <br>
          <br>
          <br>
          <br>
	  <br>
	 <div class="item20">
          <button class='small-button' onclick="document.getElementById('drake meme4').play()">🎤4</button>
          <br>
          <br>
          <br>
          <br>
	  <br>
          <br>
	 <div class="item21">
          <button class='small-button' onclick="document.getElementById('drake meme5').play()">🎤5</button>	 
          <br>
          <br>
          <br>
	  <br>
          <br>
	  <br>
	 <div class="item22">
          <button class='small-button' onclick="document.getElementById('indian').play()">🇮🇳</button>
	  <br>
          <br>
          <br>
	  <br>
          <br>
	  <br>
	 <div class="item23">
          <button class='small-button' onclick="document.getElementById('when i met you in summer').play()">🐈</button> 
          <br>
          <br>
	  <br>
          <br>
	  <br>
	<div class="item24">
          <button class='small-button' onclick="document.getElementById('bussssss').play()">🚌</button> 
	 <br>
          <br>
	  <br>
          <br>
	  <br>
	<div class="item25">
          <button class='small-button' onclick="document.getElementById('12bukelshoe').play()">12👟</button> 
	  <br>
          <br>
	  <br>
          <br>
	  <br>
	<div class="item26">
          <button class='small-button' onclick="document.getElementById('12bukelshoemrbeast').play()">12👨👟</button> 
	  <br>
          <br>
	  <br>
          <br>
	  <br>
	<div class="item27">
          <button class='small-button' onclick="document.getElementById('ohio song').play()">ohio🎵</button> 		
          <br>
	  <br>
          <br>
	  <br>
	  <br>
	  <br>
	<div class="item28">
          <button class='small-button' onclick="document.getElementById('car horn').play()">🚗📯</button> 
          </div>
        </div>
<script>
    // functions for audio control menu
    function playAll() {
      const els = document.getElementsByTagName("AUDIO");
      Array.from(els).forEach((el) => {
        el.play();
      });
    }
    function stopAll() {
      const els = document.getElementsByTagName("AUDIO");
      Array.from(els).forEach((el) => {
        el.load();
      });
    }
    // https://stackoverflow.com/q/74351622/18183112 ty <3
  </script>
  <div class="control">
    Audio Controls
    <button class="woah" onclick="playAll()">Provoke Chaos</button>
    <button class="woah" onclick="stopAll()">Stop Everything</button>
  </div>
</body>
 
</html>
